APScheduler==3.6.0
Click==7.0
Flask==1.0.3
Flask-APScheduler==1.11.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.4
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
tzlocal==1.5.1
Werkzeug==0.15.4
